/* === Monthly View === */
.today {
  color: red !important;
  font-weight: bold;
}
.past-day {
  color: gray;
  opacity: 0.6;
}
.day-cell {
  min-height: 150px;
  vertical-align: top;
  padding: 15px;
  position: relative;
  overflow: hidden;
  justify-content: flex-start;
  align-items: stretch;
}
.event-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.event-container span {
  display: block;
  font-size: 12px;
  background-color: #007bff;
  color: white;
  padding: 2px 4px;
  border-radius: 3px;
  margin-top: 2px;
  width: 100%;
  text-align: center;
}
.hebrew-date {
  text-align: end;
  font-size: 12px;
  margin-top: 5px;
}
.date-number {
  text-align: start;
  font-size: 20px;
  font-weight: bold;
  padding: 10%;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}

/* === Weekly view === */
.weekly-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.day-column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
  min-height: 100px;
  position: relative;
}
.event-container-weekly {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 20px;
  overflow-x: auto;
}
.event-card {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  min-width: 150px;
  white-space: nowrap;
}
.jag-event {
  background-color: #ffcc00 !important;
  color: black !important;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  min-width: 150px;
  /* display: block;
  text-align: center; */
}
.today-weekly {
  background-color: #ffdddd;
  border-left: 5px solid red;
  font-weight: bold;
}

/* === Animations === */
/* Animation to switch between views */
.calendar-container,
.weekly-container {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animation to add new events */
@keyframes eventAppear {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.event-card {
  animation: eventAppear 0.3s ease-in-out;
}
